.container {
  @include mq("desktop", min) {
    max-width: 1200px;
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
p {
  margin-bottom: 0;
}
body {
  font-family: $base_font_family;
}
.cls-1 {
  transition: all 0.3s;
}

.btn {
  &:focus,
  &:active {
    outline: transparent;
    box-shadow: none;
  }
}
.select {
  color: #fff;
  position: relative;
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
  }
  .select_top {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .dropdown_icon {
      transition: all 0.3s;
    }
  }
  .select_bottom {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    transition: all 0.5s;
    z-index: 4;
    width: 100%;
    .select_list {
      .select_item {
        cursor: pointer;
        display: flex;
        align-items: center;
      }
    }
  }
  &.active {
    .overlay {
      display: block;
    }
    .dropdown_icon {
      transform: rotate(180deg);
    }
    .select_bottom {
      visibility: visible;
      opacity: 1;
    }
  }
}

.selected_filter_list {
  display: flex;
  .item {
    padding: 10px 11px;
    border-radius: 8px;
    background-color: $menu_card_border_opacity;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.85;
    text-align: left;
    margin-right: 24px;
    color: $dark_teal_three;
    .delete {
      margin-left: 11px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: $menu_card_border;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        background-color: $dark_seconr_color;
      }
    }
  }
}

input {
  &.invalid {
    border-color: #f35a5a !important;
    & + .error-message {
      color: #f35a5a;
      font-size: 12px;
      margin: 4px 0;
    }
  }
}
