footer {
  background-color: $footer_bg_color;
  border-top: 1px solid $menu_card_border;
  padding-bottom: 30px;
  .footer-head {
    margin-bottom: 20px;
    border-bottom: 1px solid $menu_card_border_opacity;
    padding: 52px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mq("tablet", max) {
      display: block;
      padding: 32px 0;
      .logo {
        display: none;
      }
    }
    .download-btn {
      display: flex;
      align-items: center;
      width: fit-content;
      border-radius: 8px;
      padding: 14px 24px;
      color: #fff;
      background-color: $dark_teal_three;
      text-decoration: none;
      font-size: 13px;
      font-weight: 600;
      line-height: 1.23;
      img {
        margin-right: 12px;
      }
      @include mq("tablet", max) {
        // padding: 7px 12px;
        margin: 0 auto;
        img {
          width: 12px;
        }
      }
    }
  }
  .list {
    max-width: 100%;
    @include mq("tablet", max) {
      margin-bottom: 20px;
    }
  }
}
.lists {
  padding: 48px 0 60px;
  display: flex;
}
.list {
  margin-right: 80px;
  width: 100%;
  p {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.22;
    color: $dark-teal-three;
    margin-bottom: 18px;
  }
  ul {
    li {
      font-size: 18px;
      font-weight: normal;
      line-height: 1.94;
      a {
        max-width: 100%;
        color: $footer_text;
        transition: all 0.3s;
        &:hover {
          font-weight: bold;
          color: $dark_seconr_color;
        }
      }
    }
  }
  @include mq("phone-wide", max) {
    p {
      font-size: 12px;
      margin-bottom: 10px;
    }
    ul {
      li {
        font-size: 12px;
        line-height: 1.54;
      }
    }
  }
}
