.main-header {
  height: 520px;
  background-color: #003E45;
  background-image: url(../img/header-bg-img.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  @include mq("tablet-wide", max) {
    background-image: url(../img/mobile-bg.svg);
    height: 460px;
  }
  @include mq("phone-wide", max) {
    height: 360px;
    background-image: none;
    background-color: $dark_teal;
  }
  .header {
    padding-top: 60px;
    align-items: center;
    @include mq("phone-wide", max) {
      padding-top: 30px;
      .logo img {
        width: 90px;
      }
    }
    .scroll-logo {
      display: none;
    }

    .lang {
      margin-left: 48px;
      p {
        text-transform: uppercase;
        padding: 8px;
        padding-right: 16px;
      }
      @include mq("phone-wide", max) {
        margin-left: 24px;
        p {
          padding: 4px 8px;
        }
      }
      .select_top {
        padding: 8px 16px;
        background-color: $lang_bg;
        border-radius: 8px;
        @include mq("phone-wide", max) {
          padding: 8px;
        }
        .select_text {
          font-size: 12px;
          font-weight: bold;
          line-height: 1.3;
          display: flex;
          align-items: center;
        }
      }
      .select_bottom {
        background-color: $lang_bg;
        font-size: 14px;
        border-radius: 8px;
        padding: 8px;
        width: 100%;
        z-index: 5;
        .select_item {
          padding: 0 8px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.251);
          transition: all 0.3s;
          &:hover {
            background-color: rgba(255, 255, 255, 0.251);
          }
          &:last-child {
            border: none;
          }
        }
      }
    }
    .menu,
    .close_menu {
      margin-left: auto;
      display: none;
      z-index: 12;
    }
    @include mq("tablet-wide", max) {
      .menu {
        display: block;
      }
    }

    .login-with-fb {
      margin-left: auto;
      border: 1px solid rgba(255, 255, 255, 0.251);
      border-radius: 8px;
      padding: 14px 16px;
      background-color: transparent;
      color: #fff;
      font-size: 13px;
      font-weight: 600;
      line-height: 1.23;
      img {
        margin-right: 16px;
      }
      @include mq("tablet-wide", max) {
        display: none;
      }
    }
  }
  .header-search {
    position: relative;
    padding: 80px 0;
    .title {
      font-size: 35px;
      font-weight: bold;
      line-height: 1.23;
      color: #fff;
    }
    .info {
      color: #fff;
      font-size: 21px;
      line-height: 1.19;
      max-width: 420px;
      margin-top: 16px;
      margin-bottom: 32px;
    }
    @include mq("phone-wide", max) {
      padding: 40px 0;
      .title {
        font-size: 24px;
      }
      .info {
        font-size: 18px;
      }
    }
  }
}

.scroll-header {
  position: fixed;
  width: 100vw;
  z-index: 10;
  height: auto;
  background-color: #fff;
  background-image: none;
  box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.05);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    padding: 18px 0;
    .scroll-logo {
      display: block;
      img {
        width: 150px;
        @include mq("phone-wide", max) {
          width: 120px;
        }
      }
    }
  }
  .logo,
  .lang,
  .login-with-fb {
    display: none;
  }
  .header-search {
    padding: 24px 0;
    > .title,
    > .info {
      display: none;
    }
    .search-form {
      // min-width: 400px;
      @include mq("phone-wide", max) {
        // min-width: 100px;
      }
      .search-input {
        border: solid 1px $menu_card_border_opacity;
        padding: 12px 24px;
        @include mq("phone-wide", max) {
          padding: 6px 12px;
          font-size: 9px;
          &::placeholder {
            font-size: 9px;
          }
        }
      }
      .search-btn {
        padding: 12px 24px;
        @include mq("phone-wide", max) {
          padding: 6px 12px;
          font-size: 10px;
        }
      }
    }
  }
}
.second-header {
  height: fit-content;
  background-color: #fff;
  background-image: none;
  box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @include mq("tablet-wide", max) {
      // display: block;
    }
  }
  .header {
    padding: 32px 0 24px;
    display: flex;
    @include mq("tablet-wide", max) {
      flex-wrap: wrap;
      width: 100%;
    }
    .scroll-logo {
      img {
        width: 150px;
        @include mq("phone-wide", max) {
          width: 120px;
        }
      }
    }
  }
  .mobile-icons {
  z-index: 12;
    align-self: center;
    display: none;
    @include mq("tablet-wide", max) {
      display: flex;
    }
    .search,
    .close_menu,
    .menu {
      margin-left: 16px;
      @include mq("phone-wide", max) {
        img {
          width: 15px;
        }
      }
    }
  }
  @include mq("tablet-wide", max) {
    .close_menu {
      display: none;
    }
  }
  .header-search {
    display: flex;
    align-items: center;
    @include mq("tablet-wide", max) {
      // display: none;
    }
    @include mq("tablet-wide", max) {
      margin: 16px 0 12px;
    }
    .search-show {
      margin: 0 4px;
      @include mq("phone-wide", max) {
        img {
          width: 15px;
        }
      }
    }
    .search-form {
      margin: 0 8px;
      width: 0px;
      transition: all 0.5s;
      opacity: 0;

      visibility: hidden;
      &.show {
        width: 400px;
        opacity: 1;
        visibility: visible;
        @include mq("phone-wide", max) {
          width: 140px;
        }
      }
      input {
        border: solid 1px $menu_card_border_opacity;
        padding: 12px;
        border-radius: 8px;
        font-size: 16px;
        &::placeholder {
          font-size: 16px;
          font-weight: 500;
        }
      }
      button {
        font-size: 12px;
        padding: 14px;
      }
    }
  }
  #nav-menu .menu-button .all-categories {
    background-color: $menu_card_border;
  }
}
.search-form {
  display: flex;
  position: relative;
  max-width: 550px;
  @include mq("phone-wide", max) {
    // min-width: 100px;
  }
  input {
    width: 100%;
    border: none;
    padding: 28px 36px;
    border-radius: 8px 0 0 8px;
    outline: transparent;
    font-size: 16px;
    &::placeholder {
      font-size: 16px;
      font-weight: 600;
      color: $pinkish_grey;
    }
    @include mq("phone-wide", max) {
      padding: 14px 12px;
      font-size: 16px;
      &::placeholder {
        font-size: 16px;
      }
    }
  }
  .search-btn {
    border-radius: 0 8px 8px 0;
    border: none;
    padding: 28px 40px;
    font-size: 14px;
    font-weight: 600;
    background-color: $dark_seconr_color;
    color: #fff;
    @include mq("phone-wide", max) {
      font-size: 12px;
      padding: 14px 12px;
    }
  }
}
.search-result-list {
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
  &.active {
    visibility: visible;
    opacity: 1;
  }
  position: absolute;
  top: calc(100% + 25px);
  right: 0;
  border-radius: 8px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  z-index: 5;
  padding: 16px 24px;
  @include mq("phone-wide", max) {
    padding: 12px;
  }
  overflow-y: auto;
  min-width: 100%;
  &::-webkit-scrollbar-thumb {
    width: 3px;
    background-color: $green_blue;
  }
  &::-webkit-scrollbar {
    width: 3px;
  }
  .item {
    margin-right: 4px;
    border-bottom: 1px solid $menu_card_border;
    &:last-child {
      border: none;
    }
    padding: 12px 0;
    display: flex;
    align-items: center;

    .img {
      width: 58px;
      height: 58px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    @include mq("tablet-wide", max) {
      margin: 0 16px;
      .img {
        width: 50px;
        height: 50px;
      }
    }
    .search-product {
      margin: 0 20px;
      a {
        color: #002f36;
        transition: all 0.4s;
        .title {
          font-size: 16px;
          font-weight: 600;
          line-height: 1.19;
          margin: 0;
          transition: all 0.3s;
          color: #002f36;
          overflow: hidden;
          width: 150px;
          white-space: nowrap;
          text-overflow: ellipsis;
          @include mq("tablet-wide", max) {
            width: 120px;
          }
          @include mq("phone-wide", max) {
            font-size: 11px;
          }
        }
        &:hover {
          font-weight: bold;
          color: $dark_seconr_color;
          .title {
            color: $dark_seconr_color;
          }
        }
      }
      .info {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.29;
        color: $menu_card_border;
        @include mq("phone-wide", max) {
          font-size: 10px;
        }
      }
    }
    .product-info {
      margin-left: auto;
      text-align: end;
      .store-count {
        font-size: 9px;
        font-weight: 500;
        line-height: 1.22;
        color: #002f36;
      }
      .price-range {
        font-size: 12px;
        font-weight: 600;
        line-height: 1.25;
        color: $green_blue;
        @include mq("phone-wide", max) {
          font-size: 8px;
        }
      }
    }
  }
}
.page {
  &.page-onscroll {
    transform: translateY(100px);
    @include mq("tablet-wide", max) {
      transform: translateY(120px);
    }
  }
  &#home-page {
    @include mq("tablet-wide", max) {
      .container {
        max-width: 100%;
        padding: 0;
        margin: 0;
      }
    }
    &.page-onscroll {
      transform: translateY(520px);
      @include mq("tablet-wide", max) {
        transform: translateY(460px);
      }
    }
  }
  position: relative;
  .search-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.667);
    z-index: 1;
    &.active {
      display: block;
    }
  }
}
.search-categories-list {
  a {
    color: unset;
  }
  display: flex;
  align-items: start;
  padding-bottom: 18px;
  border-bottom: 1px solid $menu_card_border;
  img {
    width: 28px;
    height: 28px;
    margin: 12px 24px 12px 12px;
    @include mq("phone-wide", max) {
      width: 14px;
      height: 14px;
    }
  }
  ul li {
    font-size: 16px;
    line-height: 1.33;
    margin-top: 12px;
    color: $dark_teal;
    @include mq("phone-wide", max) {
      font-size: 10px;
    }
    .category-span {
      font-weight: 600;
    }
    .search-span {
      font-weight: 600;
      color: $dark_seconr_color;
    }
  }
}
.search-value {
  font-size: 14px;
  font-weight: bold;
  line-height: 3.83;
  padding: 0px 14px;
  text-align: left;
  color: $dark_teal_three;
  border-radius: 4px;
  width: max-content;
  background-color: $menu_card_border_opacity;
  @include mq("phone-wide", max) {
    font-size: 10px;
  }
}
.search-products-list {
  min-height: 160px;
  max-height: 250px;
  position: relative;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 4px;
    background-color: $dark_teal;
  }
  &::-webkit-scrollbar-track {
    width: 5px;
  }
  .search-loading {
    background-color: #fff;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    &.show {
      opacity: 1;
      visibility: visible;
    }
    .loader {
      -animation: spin 1s infinite linear;
      -webkit-animation: spin2 1s infinite linear;
    }

    @-webkit-keyframes spin2 {
      from {
        -webkit-transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      from {
        transform: scale(1) rotate(0deg);
      }
      to {
        transform: scale(1) rotate(360deg);
      }
    }
    p {
      color: $dark_teal;
      font-size: 14px;
    }
  }
}
