#nav-menu {
  display: flex;
  align-items: center;
  position: relative;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  width: 0;
  &.show {
    width: auto;
    opacity: 1;
    visibility: visible;
  }
  @include mq("tablet", max) {
    display: none;
  }
  .menu-cards {
    display: flex;
    align-items: center;
    position: relative;
    .menu-card {
      cursor: pointer;
      width: min-content;
      margin: 17px 0;
      margin-right: 20px;
      transition: all 0.3s;
      border: 1px solid $menu_card_border_opacity;
      border-radius: 8px;
      padding: 28px 42px;
      display: flex;
      align-items: center;
      .icon {
        svg {
          height: 48px;
        }
        .cls-1 {
          transition: all 0.3s;
          fill: $icon;
        }
      }
      .title {
        transition: all 0.3s;
        color: $dark_teal_two;
        font-size: 13px;
        font-weight: bold;
        line-height: 1.23;
        margin-left: 18px;
        width: fit-content;
      }
      &:hover {
        background-color: $blue_green;
        border-color: $blue_green;
        .icon {
          .cls-1 {
            fill: #fff;
          }
        }
        .title {
          color: #fff;
        }
        .sub-menu {
          visibility: visible;
          opacity: 1;
          transition: all 0.6s;
        }
      }
    }
  }
  .sub-menu {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.11);
    background-color: #fff;
    // padding: 0 48px;
    z-index: 2;
    .lists {
      padding: 32px;
      .list {
        margin: 0;
        p {
          font-size: 16px;
        }
        ul {
          column-count: 3;
          li {
            font-size: 16px;
            line-height: 1.7;
          }
        }
      }
    }
  }
  .menu-button {
    height: fit-content;
    padding: 10px 0;
    margin-left: auto;
    border-left: 1px solid $menu_card_border_opacity;
    .all-categories {
      background-color: $second_color;
      color: #fff;
      padding: 12px 16px;
      border: none;
      margin-left: 22px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        margin-left: 12px;
      }
    }
    &:hover {
      .sub-menu {
        visibility: visible;
        opacity: 1;
        transition: all 0.6s;
      }
    }
    .sub-menu {
      display: flex;
      .lists {
        width: calc(100% / 3 * 2);
        .list {
          display: none;
          margin-left: 60px;
          ul {
            column-count: 2;
          }
        }
      }
    }
    .categories-list {
      width: calc(100% / 3);
      padding: 20px 0 20px 0;
      border-right: 1px solid $menu_card_border_opacity;
      li {
        display: flex;
        align-items: center;
        margin: 18px 0 18px 18px;
        position: relative;
        cursor: pointer;
        .icon {
          .cls-1 {
            transition: all 0.3s;
          }
        }
        p {
          transition: all 0.3s;
          font-size: 16px;
          font-weight: 500;
          line-height: 1.78;
          text-align: left;
          color: $dark-teal-three;
          margin-left: 16px;
        }
        &:hover {
          .icon {
            .cls-1 {
              fill: $icon;
            }
          }
          p {
            font-weight: bold;
          }
        }
        &.active:after {
          opacity: 1;
          height: 100%;
          top: 0;
        }
        &:after {
          content: "";
          position: absolute;
          opacity: 0;
          transition: all 0.3s;
          top: 50%;
          right: -4px;
          width: 7px;
          height: 0;
          border-radius: 2px;
          background-color: #0e9f96;
        }
      }
    }
  }
}

.mobile-menu {
  padding-bottom: 12px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 10;
  .menu-item {
    margin: 12px;
    display: flex;
    align-items: center;
    .icon svg {
      width: 26px;
      height: 26px;
    }
    .title {
      transition: all 0.3s;
      color: $dark_teal_two;
      font-size: 13px;
      font-weight: bold;
      line-height: 1.73;
      margin: 0 18px;
      width: fit-content;
    }
    .toggle-icon {
      transition: all 0.3s;
    }
    &.active {
      .icon {
        .cls-1 {
          fill: $blue_green;
        }
      }
      .toggle-icon {
        transform: rotate(180deg);
      }
    }
  }
  .sub-menu {
    display: none;
    padding: 0 56px;
    .list {
      li {
        font-size: 14px;
        line-height: 2;
      }
    }
  }
}

.second-header {
  #nav-menu {
    margin: 4px;
    .menu-cards {
      .menu-card {
        margin: 12px 6px;
        padding: 10px;
        .icon {
          svg {
            height: 28px;
            width: 28px;
          }
        }
        .title {
          margin-left: 6px;
        }
      }
      .sub-menu .list {
        li {
          font-size: 14px;
        }
      }
    }
    .menu-button {
      padding: 10px 0;
      margin-left: 2px;
      .all-categories {
        width: max-content;
        font-size: 14px;
        padding: 12px 16px;
        margin-left: 8px;
        img {
          margin-left: 4px;
        }
      }
    }
    .sub-menu .sub-categories .list {
      margin-left: 24px;
      li {
        font-size: 14px;
      }
    }
  }
}
