#search-properties {
  border-bottom: solid 1px $menu_card_border_opacity;
  padding-top: 10px;
  .filter {
    @include mq("phone-wide", max) {
      display: none;
    }
  }
  .add-filter {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: $dark_seconr_color;
    color: #fff;
    font-size: 14px;
    width: fit-content;
    @include mq("phone-wide", min) {
      display: none;
    }
    img {
      margin-right: 8px;
    }
  }
  .filter{
    margin-bottom: 10px;
  }
  .properties-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .property {
      margin: 0 8px;
    }
    .property-title {
      padding: 18px 0;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.19;
      text-align: left;
      color: $dark_teal_three;
    }
    .more,
    .multiple-select {
      cursor: pointer;
      padding: 5px 0;
      font-size: 13px;
      font-weight: bold;
      line-height: 1.19;
      text-align: left;
      color: $dark_teal_three;
      transition: all 0.3s;
    }
    .multiple-select {
      cursor: pointer;
      &:hover {
        color: $dark_seconr_color;
        text-decoration: underline;
        .left-arrow {
          fill: $dark_seconr_color;
        }
      }
    }
    .property-values {
      margin-bottom: 10px;
      input {
        display: none;
      }
      input:checked + .label {
        font-weight: bold;
      }
      .property-value{
        &.with-more{
          display: none;
        }
        label{
          margin-bottom: 0;
        }
        .label {
          font-size: 13px;
          font-weight: 500;
          line-height: 2.31;
          text-align: left;
          color: $dark_teal_three;
          cursor: pointer;
          transition: all 0.3s;
          .count {
            color: $blue_green;
          }
          &:hover {
            color: $blue_green;
            text-decoration-line: underline;
          }
        }
      }
      
    }
    .more-filters {
      border-radius: 8px;
      padding: 0 24px;
      border: solid 1px $menu_card_border;
      max-height: 210px;
      .property-title {
        color: $blue_green;
      }
      .property {
        font-size: 13px;
        font-weight: 500;
        line-height: 2.31;
        color: $dark_teal_three;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          color: $blue_green;
          text-decoration-line: underline;
        }
      }
    }
  }
  .head_filter {
    padding: 32px 0;
    @include mq("phone-wide", max) {
      padding: 16px 0;
    }
  }
  .filter-mobile {
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding-bottom: 24px;
    display: none;
    &.active {
      display: block;
    }
    .apply-filter {
      padding: 8px 16px;
      border: none;
      border-radius: 4px;
      background-color: $dark_seconr_color;
      color: #fff;
      font-size: 14px;
    }
    .properties-list {
      margin: 0;
      display: block;
      .property-values {
        .checkbox {
          width: 16px;
          height: 16px;
          border-radius: 3px;
          border: solid 1px #e1e6ea;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.3s;
        }
        p {
          margin-left: 8px;
        }
        .label {
          display: flex;
          align-items: baseline;
        }
        input:checked + .label {
          .checkbox {
            background-color: $darken_blue_green;
            border-color: $darken_blue_green;
          }
          p {
            color: $blue_green;
            font-weight: bold;
          }
        }
      }
    }
  }
}

#product-list-filter {
  margin: 64px 0;
  @include mq("phone-wide", max) {
    margin: 32px 0;
  }
  .view {
    display: flex;
    @include mq("phone-wide", max) {
      display: none;
    }
    .product-view {
      margin-left: 16px;
      cursor: pointer;
      &.active {
        .cls-1 {
          fill: $tealish;
        }
      }
      .cls-1 {
        transition: all 0.3s;
        fill: #d6d6d6;
      }
    }
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    text-align: left;
    color: $dark_teal_three;
  }

  .count {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.19;
    text-align: left;
    color: $blue_green;
    @include mq("phone-wide", max) {
      font-size: 14px;
    }
  }
}
#product-list {
  padding: 32px 0 64px;
  @include mq("phone-wide", max) {
    padding: 20px 0 24px;
  }
}
.product {
  margin-bottom: 25px;
  border-radius: 8px;
  border: solid 1px $menu_card_border;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.1);
    border-color: #fff;
  }
  .img {
    width: 100%;
    max-width: 270px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .product-title {
    padding: 15px 30px 0;
    @include mq("phone-wide", max) {
      padding: 8px 15px 0;
    }
    .brand {
      font-size: 12px;
      font-weight: bold;
      line-height: 1.25;
      text-align: left;
      color: $dark_seconr_color;
      margin-bottom: 8px;
    }
    .model {
      font-size: 12px;
      font-weight: bold;
      line-height: 1.5;
      text-align: left;
      color: $dark_teal_three;
      margin-bottom: 8px;
    }
    @include mq("phone-wide", max) {
      font-size: 10px;
    }
  }
  .price-list {
    padding: 0 30px;
    @include mq("phone-wide", max) {
      padding: 0 15px;
    }
    margin: 4px 0;
    li {
      padding: 2px 0;
      .store {
        font-size: 11px;
        font-weight: 500;
        line-height: 1.27;
        text-align: left;
        color: $blue_green;
        &:hover {
          color: $dark_seconr_color;
        }
      }
      .price {
        font-size: 13px;
        font-weight: bold;
        line-height: 1.23;
        text-align: left;
        color: $dark_teal_three;
      }
    }
  }
  .price-range {
    margin: 16px 30px 20px;
    @include mq("phone-wide", max) {
      margin: 8px 15px 10px;
    }
    .range {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.77;
      text-align: left;
      color: $blue_green;
    }
    .store-count {
      font-size: 13px;
      line-height: 1.77;
      text-align: left;
      font-weight: 500;
      color: $dark_teal_three;
    }
  }
  .learn-more {
    margin: 0 30px 32px;
    border-radius: 6px;
    background-color: $menu_card_border;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.23;
    text-align: center;
    color: #fff;
    padding: 12px 17px 14px;
    text-decoration: none;
    transition: all 0.3s;
    @include mq("phone-wide", max) {
      font-size: 11px;
      padding: 12px;
      margin: 0 15px 16px;
    }
    img {
      margin-left: 12px;
      margin-bottom: 4px;
    }
  }
}
.list_view {
  .product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .product-info {
      margin-right: 40px;
    }
    .product-title {
      margin-right: auto;
    }
    .price-list {
      min-width: 160px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: calc(50% - 28px);
        height: 56px;
        width: 2px;
        background-color: $menu_card_border_opacity;
      }
    }
    .learn-more {
      background-color: $dark_seconr_color;
    }
  }
}
.table_view {
  .product {
    min-height: 550px;
    @include mq("phone-wide", max) {
      min-height: 530px;
    }
    position: relative;
    .img {
      margin: 0 auto;
    }
    .learn-more {
      position: absolute;
      bottom: 0;
      &:hover {
        background-color: $dark_seconr_color;
      }
    }
  }
}

#multiple-select {
  #property-list {
    column-count: 3;
    margin-top: 24px;
    label {
      width: 100%;
      input {
        display: none;
      }
      input:checked + .label {
        .checkbox {
          background-color: $darken_blue_green;
          border-color: $darken_blue_green;
        }
        p {
          color: $blue_green;
          font-weight: bold;
        }
      }
      .label {
        display: flex;
        align-items: baseline;
      }
      .checkbox {
        width: 16px;
        height: 16px;
        border-radius: 3px;
        border: solid 1px #e1e6ea;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
      }
      p {
        margin-left: 8px;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.23;
        text-align: left;
        color: $dark_teal_three;
        span {
          color: $blue_green;
        }
      }
    }
  }
  .modal_bottom {
    margin-top: 40px;
  }
}
.arrange {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: left;
  color: $dark_teal_three;
  margin-left: 32px;
  @include mq("phone-wide", max) {
    font-size: 12px;
    margin-left: 0;
  }
  .arrange-select {
    background-color: #fff;
    min-width: 200px;
    margin-left: 16px;
    .select_top {
      padding: 16px;
      border-radius: 8px;
      border: 2px solid $pale_grey;
      .select_text {
        font-size: 13px;
        font-weight: bold;
        line-height: 1.55;
        text-align: left;
        color: $dark_teal_three;
      }
    }
    .select_bottom {
      border: 2px solid $pale_grey;
      border-top: none;
      border-radius: 8px;
      background-color: #fff;
      .select_list {
        padding: 8px;
        .select_item {
          font-size: 13px;
          font-weight: bold;
          line-height: 1.55;
          text-align: left;
          color: $dark_teal_three;
          padding: 8px 16px;
          &:hover {
            background-color: $pale_grey;
          }
        }
      }
    }
    @include mq("phone-wide", max) {
      min-width: 150px;
      .select_top {
        padding: 8px;
        .select_text {
          font-size: 10px;
        }
      }
      .select_bottom .select_list .select_item {
        font-size: 10px;
        padding: 4px 8px;
      }
    }
  }
}
