$breakpoints: (
  "phone": 400px,
  "phone-wide": 480px,
  "phablet": 560px,
  "tablet-small": 640px,
  "tablet": 768px,
  "tablet-wide": 1024px,
  "desktop": 1280px,
  "desktop-wide": 1440px
);
$base_font_family: "Montserrat", sans-serif;

$lang_bg: #00282e;
$dark_teal: #003e46;
$dark_teal_two: #013e46;
$dark_teal_three: #033e46;
$btn_color: #0f867b;
$darken_blue_green: #0e9f96;
$blue_green: #15a79e;
$icon: #0fa89d;
$green_blue: #08a89d;
$menu_card_border_opacity: #c3cdd680;
$menu_card_border: #c3cdd6;
$dark_seconr_color: #ee9221;
$second_color: #f9a31e;
$footer_bg_color: #f8f8f8;
$footer_text: #7b7b7b;

$pinkish_grey: #bebebe;
